<footer data-testid="footer" class="mAZF70It--Footer_footer__PxxIj" style="--primary-items-height: 0; 
  --secondary-items-height: 719.125; 
  --primary-font-color: #000000; 
  --secondary-font-color: #000000; 
  --legal-font-color: #000000; 
  --locale-picker-font-color: #000000;
  ">
    <div class="MuiContainer-root jss1 MuiContainer-maxWidthXl" data-testid="grid-container">
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-6" data-testid="grid">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12" data-testid="footer-clover-logo">
                <div class="MuiGrid-root mAZF70It--Footer_logo__w79hm MuiGrid-container" data-testid="grid"><a
                        title="Clover" aria-label="Clover" class="mAZF70It--LogoLink_logo__7wylt" data-testid="logo"
                        href="/"><img alt="Clover"
                            src="https://cloverstatic.com/web/apps/cloverdotcom/release::v2.92.2-30938ac/assets/media/clover-logo-purple.8e49d612f5cde978c8411876407e9ead.svg"
                            data-testid="image" data-loading="lazy"></a></div>
            </div>
            <div class="MuiGrid-root mAZF70It--FooterSecondaryNavTabletDesktop_footer-secondary-nav-desktop__Ncqo7 MuiGrid-item MuiGrid-grid-xs-12"
                data-testid="grid">
                <div class="MuiGrid-root mAZF70It--FooterSecondaryNavTabletDesktop_container__3xjsz MuiGrid-container"
                    data-testid="grid">
                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-6 MuiGrid-item MuiGrid-grid-xs-12"
                        data-testid="grid">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-3" data-testid="grid">
                            <nav aria-label="Take payments"><span
                                    class="mAZF70It--FooterSecondaryNavTabletDesktop_title__mgyUE"
                                    data-testid="text-take-payments" data-field="title"
                                    data-entry-id="7dWC3zXv14a233Lf5EE9PA" data-content-type="linkSet">Take
                                    payments</span>
                                <ul>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/shop" title="Card readers and POS devices"
                                            data-testid="card-readers-and-pos-devices"
                                            data-entry-id="cqaqKJfhB6iH5RhEQ9qHR" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Card readers and POS
                                                devices</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems" title="Point of sale system"
                                            data-testid="point-of-sale-system" data-entry-id="5joAF8MEyaFbfQweVZ5A7q"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Point of sale
                                                system</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/ecommerce" title="Online ordering and sales"
                                            data-testid="online-ordering-and-sales"
                                            data-entry-id="1mTsuKD7ULO4lcrNglxwyy" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Online ordering and
                                                sales</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/accept-payments" title="Payment processing"
                                            data-testid="payment-processing" data-entry-id="4BNk4XsZB5mwLTWbGQjDSm"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Payment
                                                processing</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-solutions/invoicing" title="Invoicing" data-testid="invoicing"
                                            data-entry-id="2HCsgBu4YBElUzle5gayFs" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Invoicing</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/virtual-terminal" title="Virtual Terminal"
                                            data-testid="virtual-terminal" data-entry-id="7mTxybA23P29oYRGxPRbKo"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Virtual
                                                Terminal</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-3" data-testid="grid">
                            <nav aria-label="Run your business"><span
                                    class="mAZF70It--FooterSecondaryNavTabletDesktop_title__mgyUE"
                                    data-testid="text-run-your-business" data-field="title"
                                    data-entry-id="2Kep7n0XcgKroA27n8VSLe" data-content-type="linkSet">Run your
                                    business</span>
                                <ul>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/business-tracking-reporting"
                                            title="Tracking and reporting" data-testid="tracking-and-reporting"
                                            data-entry-id="7ihYYMJzWTmnfpZnmTuDBj" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Tracking and
                                                reporting</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/online-ordering-inventory" title="Inventory management"
                                            data-testid="inventory-management" data-entry-id="3PBzg3anJRzJ795aKQy5vr"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Inventory
                                                management</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/financial-solutions/rapid-deposit" title="Cash flow"
                                            data-testid="cash-flow" data-entry-id="53H5BCYyOBhNnCnxKsaYFy"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Cash flow</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/customer-engagement" title="Customer engagement"
                                            data-testid="customer-engagement" data-entry-id="2xIwNQQ8MMu3baJFqx7pEh"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Customer
                                                engagement</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/employee-management" title="Employee management"
                                            data-testid="employee-management" data-entry-id="65pEd78f32mLP4NJZBSBsw"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Employee
                                                management</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-3" data-testid="grid">
                            <nav aria-label="Sell more"><span
                                    class="mAZF70It--FooterSecondaryNavTabletDesktop_title__mgyUE"
                                    data-testid="text-sell-more" data-field="title"
                                    data-entry-id="7kbCKfqVIXTnoWTDCZCONf" data-content-type="linkSet">Sell more</span>
                                <ul>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/customer-engagement/rewards" title="Customer loyalty"
                                            data-testid="customer-loyalty" data-entry-id="5f1R5oVSjFULxk0RlxOg2v"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Customer
                                                loyalty</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/gift-cards" title="Gift cards" data-testid="gift-cards"
                                            data-entry-id="5KzXrPVlAfjc2lkhzdWwFr" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Gift cards</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/financial-solutions/clover-capital" title="Clover Capital"
                                            data-testid="clover-capital" data-entry-id="4fkAG48JagUlbaRDEMq7bW"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>
                                                Clover Capital</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/apps" title="Apps and integrations"
                                            data-testid="apps-and-integrations" data-entry-id="5nyZhi3XGVvRGCSTtKN6Lt"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Apps and
                                                integrations</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-3" data-testid="grid">
                            <nav aria-label="Business types"><span
                                    class="mAZF70It--FooterSecondaryNavTabletDesktop_title__mgyUE"
                                    data-testid="text-business-types" data-field="title"
                                    data-entry-id="N0D78Ai81b6DxYT3waRmt" data-content-type="linkSet">Business
                                    types</span>
                                <ul>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            title="Restaurants" data-testid="restaurants"
                                            data-entry-id="1FLPVNaGNat5seN9zixbQy" data-content-type="internalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"
                                            href="/pos-solutions/restaurant"><span
                                                data-title="Restaurants">Restaurants</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            title="Retail stores" data-testid="retail-stores"
                                            data-entry-id="74BtmYYqbpycTxpP3p9Pn9" data-content-type="internalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"
                                            href="/pos-solutions/retail"><span data-title="Retail stores">Retail
                                                stores</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            title="Service businesses" data-testid="service-businesses"
                                            data-entry-id="3KH58HFhvblocMJhS1Tkc4" data-content-type="internalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"
                                            href="/pos-solutions/service-businesses"><span
                                                data-title="Service businesses">Service businesses</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-3" data-testid="grid">
                            <nav aria-label="Hardware devices"><span
                                    class="mAZF70It--FooterSecondaryNavTabletDesktop_title__mgyUE"
                                    data-testid="text-hardware-devices" data-field="title"
                                    data-entry-id="4fnx2UJtttDYowYXFVYgCb" data-content-type="linkSet">Hardware
                                    devices</span>
                                <ul>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/station-solo" title="Station Solo" data-testid="station-solo"
                                            data-entry-id="7Dd3pLCMD5Z6zRLQNDT0JP" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Station Solo</span></a>
                                    </li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/station-duo" title="Station Duo" data-testid="station-duo"
                                            data-entry-id="7hnuGoIkOo3btZ9iF7bXni" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Station Duo</span></a>
                                    </li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/kitchen-display-system" title="Kitchen Display System"
                                            data-testid="kitchen-display-system" data-entry-id="56ZOAJPiRyGySweU3ZYVlU"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Kitchen Display
                                                System</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/flex" title="Flex" data-testid="flex"
                                            data-entry-id="4LpM96DQpdcQUuWqT5URKg" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Flex</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/mini" title="Mini" data-testid="mini"
                                            data-entry-id="28XB0pzi9qwvZSAdXvabRX" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Mini</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a href="/go"
                                            title="Go" data-testid="go" data-entry-id="54CXjtGmYNdPavxyUymk4X"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Go</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos/accessories" title="Accessories" data-testid="accessories"
                                            data-entry-id="h8HHZqd6bewUGhPHCwySE" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Accessories</span></a>
                                    </li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pricing" title="Pricing" data-testid="pricing"
                                            data-entry-id="7FyAqHCs3clubdGoG1VZH2" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Pricing</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-3" data-testid="grid">
                            <nav aria-label="Help"><span class="mAZF70It--FooterSecondaryNavTabletDesktop_title__mgyUE"
                                    data-testid="text-help" data-field="title" data-entry-id="6UY5Y4zxtDQ0kxelsuXG9W"
                                    data-content-type="linkSet">Help</span>
                                <ul>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/help" title="Help center" data-testid="help-center"
                                            data-entry-id="2G3Icf7ZSsW5YetmwlrM9G" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Help center</span></a>
                                    </li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/resources/faqs" title="FAQ" data-testid="faq"
                                            data-entry-id="5Q7sOyH5JluWfMlIdSBaML" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>FAQ</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/contact" title="Contact us" data-testid="contact-us"
                                            data-entry-id="4ZFC5axjZYjTCLyNaNRZTe" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Contact us</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos-systems/clover-care" title="Clover care"
                                            data-testid="clover-care" data-entry-id="7yse6IfShEYLM35RIL3fR"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Clover care</span></a>
                                    </li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/contact/connect-to-sales" title="Contact sales"
                                            data-testid="contact-sales" data-entry-id="1G7nfYrJpdWWFxaLtlMDjI"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Contact sales</span></a>
                                    </li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            title="Small Business Resources" data-testid="small-business-resources"
                                            data-entry-id="6HvegFQ912MdesLTsDG051" data-content-type="internalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"
                                            href="/small-business-resources"><span
                                                data-title="Small Business Resources">Small Business Resources</span>
                                        </a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-3" data-testid="grid">
                            <nav aria-label="About"><span class="mAZF70It--FooterSecondaryNavTabletDesktop_title__mgyUE"
                                    data-testid="text-about" data-field="title" data-entry-id="4KePyXpUIiSJSJkeyHroQG"
                                    data-content-type="linkSet">About</span>
                                <ul>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="https://blog.clover.com/" title="Blog" data-testid="blog"
                                            data-entry-id="5wHnmixHhMtvq9IGLXlJkR" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Blog</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="https://careers.clover.com/" title="Careers" data-testid="careers"
                                            data-entry-id="7B4hyWSB6an9EtjcsVyJDw" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Careers</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-3" data-testid="grid">
                            <nav aria-label="Integrations"><span
                                    class="mAZF70It--FooterSecondaryNavTabletDesktop_title__mgyUE"
                                    data-testid="text-integrations" data-field="title"
                                    data-entry-id="4Q6NDfoDV1Dr0jnJ5IdSDv"
                                    data-content-type="linkSet">Integrations</span>
                                <ul>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/developers" title="Developers" data-testid="developers"
                                            data-entry-id="4M5nWweabN8dcAoGkIGaop" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Developers</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/appmarket" title="App market" data-testid="app-market"
                                            data-entry-id="3HMTzkzXASo5iKpngmwQ1h" data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>App market</span></a></li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="https://integrate.clover.com/" title="Clover Connect"
                                            data-testid="clover-connect" data-entry-id="6du1vdxTM7Vx1xVdol5lAK"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Clover Connect</span></a>
                                    </li>
                                    <li class="mAZF70It--FooterSecondaryNavTabletDesktop_list-item__0nE6u"><a
                                            href="/pos/integration-services" title="Integration services"
                                            data-testid="integration-services" data-entry-id="4sKSnknkAoyesnNDHzNc4n"
                                            data-content-type="externalLink"
                                            class="mAZF70It--FooterLinkSet_link__FMSRh"><span>Integration
                                                services</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12" data-testid="grid">
        <div class="MuiGrid-root MuiGrid-container" data-testid="grid">
            <div class="MuiGrid-root mAZF70It--LocalePickerAndSocialLinks_container__q-tvz MuiGrid-container MuiGrid-spacing-xs-6 MuiGrid-item"
                data-testid="grid">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-true" data-testid="grid">
                    <div class="mAZF70It--FooterLocalePicker_footer-locale-picker__oiOne"><button
                            class="mAZF70It--LocalePicker_locale-picker-button__jNsrL"
                            data-testid="locale-picker-button"><img
                                src="https://cloverstatic.com/web/apps/cloverdotcom/release::v2.92.2-30938ac/assets/media/united-states.3585dc22389ef07599dd58bab74b98b2.svg"
                                data-testid="image" data-loading="lazy" aria-hidden="true"><span>United States
                                (English)</span></button></div>
                </div>
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-auto" data-testid="grid">
                    <div class="mAZF70It--FooterSocialLinks_footer-social-links__3Eg-R"><a
                            href="https://www.facebook.com/clovercommerce" title="Facebook" data-testid="facebook"
                            data-entry-id="2sEGetKL8se2Iw2KEiCoe6" data-content-type="externalLink"
                            class="mAZF70It--Button_button__image__Wi0BN mAZF70It--Button_button__JBBzO"><img
                                alt="Facebook Purple"
                                src="//images.ctfassets.net/v6ivjcl8qjz2/2aqn0HUXdZePjhiXZlnCry/849846dc440bf35ee7a7cff5b0d5d0dd/icon-facebook.svg"
                                data-testid="image" data-loading="lazy" data-asset-id="2aqn0HUXdZePjhiXZlnCry"></a><a
                            href="https://twitter.com/clovercommerce" title="Twitterx" data-testid="twitterx"
                            data-entry-id="SrQ1UzViuaOoysE8EaW2C" data-content-type="externalLink"
                            class="mAZF70It--Button_button__image__Wi0BN mAZF70It--Button_button__JBBzO"><img
                                alt="icon-twitterx purple"
                                src="//images.ctfassets.net/v6ivjcl8qjz2/JalOhSSZkVJogx7YRyoxv/538fa516c73f15bef98c3318e2a16073/icon-x.svg"
                                data-testid="image" data-loading="lazy" data-asset-id="JalOhSSZkVJogx7YRyoxv"></a><a
                            href="https://www.instagram.com/clovercommerce/" title="Instagram" data-testid="instagram"
                            data-entry-id="4J1aX6og2Hm0WSGzO4B8aI" data-content-type="externalLink"
                            class="mAZF70It--Button_button__image__Wi0BN mAZF70It--Button_button__JBBzO"><img
                                alt="Instagram purple"
                                src="//images.ctfassets.net/v6ivjcl8qjz2/1vTPb1K8qSmbmSTRqLVQwL/7ba9972f16a780d4d37381fdc41a7381/icon-instagram.svg"
                                data-testid="image" data-loading="lazy" data-asset-id="1vTPb1K8qSmbmSTRqLVQwL"></a><a
                            href="https://www.youtube.com/c/clover/featured" title="YouTube" data-testid="youtube"
                            data-entry-id="2pbfgq1CinB3bEDIiyNRmk" data-content-type="externalLink"
                            class="mAZF70It--Button_button__image__Wi0BN mAZF70It--Button_button__JBBzO"><img
                                alt="Youtube purple"
                                src="//images.ctfassets.net/v6ivjcl8qjz2/61b9xsja2Wdaq84D4tJc52/a8204046550709cbfe6d81d7384292e9/icon-youtube.svg"
                                data-testid="image" data-loading="lazy" data-asset-id="61b9xsja2Wdaq84D4tJc52"></a><a
                            href="https://www.linkedin.com/company/clovernetwork" title="LinkedIn"
                            data-testid="linkedin" data-entry-id="aH9g0HVdZsPhzgJeYoL6W"
                            data-content-type="externalLink"
                            class="mAZF70It--Button_button__image__Wi0BN mAZF70It--Button_button__JBBzO"><img
                                alt="Linkedin purple"
                                src="//images.ctfassets.net/v6ivjcl8qjz2/17LWBr8wzNDwd7oRjo9lm7/78abec9cbd0f65502f8e0adc66a65732/icon-linkedin.svg"
                                data-testid="image" data-loading="lazy" data-asset-id="17LWBr8wzNDwd7oRjo9lm7"></a><a
                            href="https://github.com/clover" title="Github" data-testid="github"
                            data-entry-id="1cultZsKrWogcEyQUm02Oc" data-content-type="externalLink"
                            class="mAZF70It--Button_button__image__Wi0BN mAZF70It--Button_button__JBBzO"><img
                                alt="Github purple"
                                src="//images.ctfassets.net/v6ivjcl8qjz2/60iwvT2RUG3gSKUfbypNXs/fee1c23b09fd9c489c4da69379a10713/icon-github.svg"
                                data-testid="image" data-loading="lazy" data-asset-id="60iwvT2RUG3gSKUfbypNXs"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12" data-testid="grid">
        <div class="mAZF70It--FooterLegalLinks_footer-legal-links__iPwFS">
            <div class="mAZF70It--FooterLegalLinks_copyRightText__c0P2w">© 2023 Clover Network, LLC <div
                    class="mAZF70It--FooterLegalLinks_termsAndConditions__ffwGb">
                    <div class="mAZF70It--MarkdownWrapper_wrapper__g8p+g" data-entry-id="5aXiIQqQ3uX8z49bkD59VN"
                        data-field="legalDisclosureFooterBlurb" data-content-type="reseller">
                        <p>*Promotion available for new Clover Business Solutions merchants who have not previously had
                            a Clover account or processed with First Data Merchant Solutions LLC. Clover accounts are
                            subject to approval, including credit approval. Selecting a Clover point-of-sale credit card
                            processing device does not convey or guarantee approval. Clover devices are only shipped
                            after the application is approved. To be eligible, merchant must: (1) apply for the account
                            through our the online Clover website shopping experience, (2) purchase a Clover Hardware or
                            Software Subscription, (3) be credit approved no later than 12/31/23, (4) activate account
                            by submitting a batch of $25 or more in sales within 30 calendar days from approval date,
                            (5) Processing $10,000 or greater in card transactions within the first four billing cycles.
                            Additional fees may apply to certain Clover apps, services or activated accounts.
                            Promotional offer excludes Payeezy. Eligibility is determined at our sole discretion. Limit
                            of one reward per business relationship, regardless of the number of business locations.
                            Offer is not valid with any other offer and is subject to change without notice. Requires a
                            3-year contract. All other terms and conditions apply. Offer expires December 31, 2023.
                            All pricing and promotions presented on clover.com are for new merchant acquiring customers
                            only. Merchants currently processing on First Data systems and merchants that have processed
                            on First Data systems during the previous 90 days are not eligible for offers and pricing on
                            clover.com.</p>
                        <p>When applying for the Clover Account experience without hardware, the monthly software fee is
                            waived for 90 days. After the 90-day trial period, the cost for Virtual Terminal is $14.95
                            per month when no other software plan is in effect. Trial period and monthly cost is subject
                            to change. Terms and conditions apply.</p>
                        <p>First Data Merchant Services, LLC, doing business as Clover Business Solutions, is a
                            registered ISO of Pathward N.A., Sioux Falls, SD; and Wells Fargo Bank N.A., Concord, CA</p>
                    </div>
                </div>
            </div>
            <div>
                <ul class="mAZF70It--Footer_legalLinks__RbOzh">
                    <li><a href="/terms" title="Terms" data-testid="terms" data-entry-id="6S8CDurzNgN19JK9sxYnwA"
                            data-content-type="externalLink"
                            class="mAZF70It--FooterLegalLinks_link__RNV8W"><span>Terms</span></a></li>
                    <li><a href="/privacy-policy" title="Privacy Policy" data-testid="privacy-policy"
                            data-entry-id="5urbQkHUEenqwOQqwd8N7D" data-content-type="externalLink"
                            class="mAZF70It--FooterLegalLinks_link__RNV8W"><span>Privacy Policy</span></a></li>
                    <li><a href="/accessibility" title="Accessibility" data-testid="accessibility"
                            data-entry-id="4U4iyizuKfL6jMCwqCoR1M" data-content-type="externalLink"
                            class="mAZF70It--FooterLegalLinks_link__RNV8W"><span>Accessibility</span></a></li>
                    <li><a href="#manage-cookies" title="Do Not Sell My Information"
                            data-testid="do-not-sell-my-information" data-entry-id="4lJDscERotEsYlSkTPUwAO"
                            data-content-type="externalLink" class="mAZF70It--FooterLegalLinks_link__RNV8W">
                            <span>Do Not Sell My Information

                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>